body {
    background-color: white;
        text-align: center
}

.head-block {
   background-color: #EEEEEE;
   
   font-weight: normal;
   
} 

.search-box
{
   padding: 1px 2px;
     inline-size: 280px;
     
}
input {
   margin-left: 1px;
}


.wrapper {
   margin: 0 75px
}

.group-block {
   margin-left: auto;
   margin-right: auto;
   width: 100%;
  

}

.block1 {
   background-color: #7FE5D9;
   padding: 0 21px;
   
   
}

.block2 {
   font-size: small;
   background-color: #72CCC2;
}

.block3 {
   font-size: small;
   background-color: #62B3AA;
}

.end {
   font-size: small;
   padding: 16px
}